
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Palanquin:700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

#viz {

 width:70%;
 height: 650px;	

}	


#myset{

	margin: 20px;
	
}

