
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Palanquin:700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

#treemap {

 width:70%;
 height: 550px;	

}	

#bar {

 width:40%;
 height: 250px;	

}	


